body {
  background-color: hsl(0, 0%, 19%);
  color: white;
  padding: 2rem 5rem;
}

h2 {
  margin-bottom: 0;
}

.flex-container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.row {
  width: auto;
  display: flex;
}

.qr {
  width: 256px;
  height: 256px;
  border: 1px solid white;
  margin: 3.5rem;
}

.loader {
  width: 192px;
  height: 192px;
  padding: 32px;
  margin: 3.5rem;
}

a {
  color: white;
}
